rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /roles/{roleId} {
      allow read;
      allow create;
    }
    match /profiles/{profileId} {
      allow read;
      allow write;
    }
    match /players/{playerId} {
      allow read;
      allow write;
    }
    match /players/{playerId}/teamRefs/{teamRef} {
      allow read;
      allow write;
    }
    match /teams/{teamId} {
      allow read;
      allow write;
    }
    match /teams/{teamId}/members/{memberId} {
      allow read;
      allow write;
    }
    match /tournaments/{tournamentsId} {
      allow read;
      allow write;
    }
    match /tournaments/{tournamentsId}/participatingTeams/{participatingTeamId} {
      allow read;
      allow write;
    }
  }
}
